@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wobble {
    0%,
    100% {
        transform: scaleX(1) rotate(0deg);
    }

    25% {
        transform: scaleX(1.1) rotate(5deg);
    }

    50% {
        transform: scaleX(0.95) rotate(-5deg);
    }

    75% {
        transform: scaleX(1.05) rotate(2deg);
    }
}

.water-handle {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.water-handle:hover {
    animation: wobble 2s infinite ease-in-out !important;
    background-color: #1C1C1C !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}